html {
  box-sizing: border-box;
  font-family: "Denk One", sans-serif;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img {
  width: 100%;
}

body {
  margin: 0;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "banner banner banner"
    "col1 col2 col3";
  gap: .75em;
}

header {
  display: grid;
  grid-template-columns: auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
}

header nav ul {
  list-style-type: none;
  padding: 0;
  text-transform: uppercase;
  display: flex;
}

nav ul li {
  padding: 0 1rem;
  border-radius: 8px;
}

ol li a:hover {
  background-color: #fff;
  text-decoration: underline;
  corner-radius: 8px;
  boarder-thickness: 2px;
}

h1 {
  color: #623b0c;
  font-family: "Denk One", sans-serif;
}

h2 {
  color: #623b0c;
  font-family: "Denk One", sans-serif;
}

main a {
  text-decoration: none;
  color: #484848;
}

main {
  max-width: 90em;
  background-color: #f5f2f0;
  margin: 0 auto;
}

section {
  padding: 1rem;
}

section > ul {
  display: flex;
  list-style-type: none;
  padding: .75em 1em .6em;
  margin: 0;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: space-around;
}

section > ul li {
  background-color: #fff;
  width: 20em;
  padding: 1rem;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media only screen and (min-width: 40em) {

  header {
    flex-direction: row;
    justify-content: space-between;
  }

}
